@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://p.typekit.net/p.css?s=1&k=nld6inv&ht=tk&f=139.175&a=55643245&app=typekit&e=css");

:root {
    font-size: 14px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #252e48;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: fit-content;
    width: 100%;
    background-image: linear-gradient(#b6eedc, #9bddce);
}

main {
    width: 100vh;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background-image: linear-gradient(#b6eedc, #9bddce);
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(240, 240, 240);
    -webkit-box-shadow: inset 0 0 6px rgb(240, 240, 240);
    background: white;
    border-radius: 5px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    padding: 0rem;
}

h3 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.page-heading {
    margin-top: 1.2rem;
}

.welcome-text {
    font-family: Nunito, sans-serif;
}

/* NAVBAR MESS INCOMING TODO: FIX THIS MESSY MESS */

html {
    max-width: 100vw;
}

.logo {
    margin-top: 0;
    width: 4rem;
}

.navbar {
    background: white;
    padding-top: 0;
    position: fixed;
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    filter: opacity(60%);
}

.nav-item:hover {
    filter: opacity(100%);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: lightgray;
    transition: 300ms ease;
}

.nav-link svg {
    min-width: 2rem;
    margin: 1rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: gray;
}

.svg-icon circle {
    stroke: gray;
    stroke-width: 1;
}

/* MuSt Be UsAbLe On BoTh MoBiLe AnD dEsKtOp */

@media only screen and (max-width: 900px) {
    body {
        display: block;
    }

    main {
        width: 100vw;
        padding-top: 5vh;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .hello {
        padding-left: 5vw;
    }

    .planet-box {
        display: flex;
        flex-direction: column;
        padding: 7vw 7vw 7vw 7vw;
        margin-right: 3vw;
        margin-left: 3vw;
        background-color: none;
        border-radius: 2rem 2rem 0 0;
    }

    .viz-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .viz {
        width: 60vw;
        align-self: center;
        margin-top: 10vh;
        animation: MoveUpDown 1.5s linear infinite;
    }

    @keyframes MoveUpDown {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    .stat-box {
        display: none;
        width: auto;
        color: white;
        max-width: 100%;
        background-color: rgb(26, 131, 163);
        padding: 1rem;
        border-radius: 0 0 2rem 2rem;
    }

    .stat {
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0.1rem 0.1rem 1rem 0.1rem;
        font-family: Nunito, sans-serif;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .navbar-nav {
        flex-direction: row;
        align-items: center;
    }

    .nav-link {
        justify-content: center;
    }

    .link-text {
        display: none;
        margin: 0;
    }

    .logo {
        display: none;
    }

    .graph-box {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 7vw 7vw 7vw 7vw;
        margin-bottom: 3vw;
        margin-right: 3vw;
        margin-left: 3vw;
        background-color: rgb(255, 255, 255);
        border-radius: 0 0 2rem 2rem;
        margin-bottom: 2rem;
    }

    .graph {
        margin: auto;
        width: 78vw;
        padding-top: 2rem;
    }

    .transaction-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 70vh;
        background-color: white;
        border-radius: 2rem 2rem 2rem 2rem;
        padding: 7vw 7vw 7vw 7vw;
        margin-bottom: 5rem;
        margin-right: 3vw;
        margin-left: 3vw;
    }

    .transaction-scrollable {
        margin-top: 1rem;
        height: 65vh;
        overflow: scroll;
    }

    .transaction-list {
        top: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 100%;
    }

    .transaction-scrollable::-webkit-scrollbar {
        width: 0.5rem;
    }

    .transaction-scrollable::-webkit-scrollbar-track {
        background-color: #fefefe;
    }

    .transaction-scrollable::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 5px;
        visibility: hidden;
    }

    .transaction-scrollable:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    .transaction {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        text-decoration: none;
        margin-top: 2rem;
        width: 100%;
    }
    .transaction-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .transaction-icon {
        max-width: 4rem;
        margin: 1rem 1rem 1rem 0;
    }

    .transaction-text {
        display: inline;
        line-height: 1.6;
        color: #252e48;
    }

    .transaction-text-numbers {
        color: rgb(160, 160, 160);
    }

    .transaction-divider {
        font-size: large;
    }

    .underline {
        text-decoration: underline;
    }

    .transaction-score-text-happy {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: #70beaa;
        margin-left: auto;
    }

    .transaction-score-text-medium {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: #ffc18a;
        margin-left: auto;
    }

    .transaction-score-text-sad {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: #ff6469;
        margin-left: auto;
    }

    .transaction-score-icon {
        height: 2rem;
        margin: 1rem;
    }

    .profile {
        display: flex;
        height: fit-content;
        flex-direction: column;
    }

    .profile-box {
        background-color: white;
        width: 90vw;
        display: flex;
        height: 48vh;
        align-content: flex-start;
        margin-left: 5vw;
        border-radius: 2rem;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profile-box-pic {
        border-radius: 2rem;
        position: relative;
    }

    .profile-pic {
        width: 25vw;
        border-radius: 1rem 1rem 0 1rem;
    }

    .profile-text-space {
        padding: 1.5rem 1.5rem 1.5rem 3rem;
        position: relative;
        left: -25vw;
    }

    .profile-text-space h1 {
        
        font-size: 2rem;
        max-width: fit-content;
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        margin-left: 25vw;
    }

    .profile-text-space h4 {
        margin-left: 25vw;
        margin-bottom: 5vh;
    }

    .profile-text-space h4 {
        font-weight: bold;
        font-family: "Nunito", sans-serif;
        padding: 0;
    }

    .profile-goals {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .goal-card {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 65vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        padding: 2vh;
        background-color: white;
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .goal-icon {
        width: 4vw;
    }

    .goal-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
        margin-left: 5vw;
        padding: 4vh 2vw 1vw 7vw;
        background-color: white;
        border-radius: 2rem;
        width: 81vw;
        height: 86vh;
        margin: 5vh 0 10vh 5vw;
    }

    .badge-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 80vw;
        overflow: scroll;
    }

    .badge-gallery::-webkit-scrollbar {
        width: 0.5rem;
    }

    .badge-gallery::-webkit-scrollbar-track {
        background-color: #fefefe;
    }

    .badge-gallery::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 5px;
        visibility: hidden;
    }

    .badge-gallery:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    .bank-card-box {
        display: flex;
        height: fit-content;
        width: 84vw;
        flex-direction: column;
        background-color: white;
        border-radius: 2rem;
        margin-top: 5vh;
        margin-left: 5vw;
        padding: 5vw 1vw 3vh 5vw;
    }

    .bank-card {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 50vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        padding: 2vh;
        color: rgb(112, 112, 112);
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .profile-cards {
        display: flex;
        flex-direction: row;
        text-align: center;
        overflow: scroll;
    }

    .add-bank-card {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 5vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        padding: 1vh 0vh 1vh 0vh ;
        color: rgb(185, 185, 185);
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .add-bank-card h1{
        padding: 0;
    }

    .card-icon {
        width: 10vw;
        align-self: flex-end;
    }

    .impact {
        width: 26vw;
        height: 14vh;
    }

    .back-button {
        margin: 5vh 0 0 0;
        height: 3rem;
        width: 3rem;
        padding: 0;
        background-color: white;
        border: none;
    }
}

@media only screen and (min-width: 901px) {
    .page-heading {
        padding-top: 1vw;
    }

    h3 {
        padding-top: 3vw;
    }

    .graph-box {
        display: flex;
        flex-direction: column;
        width: 51vw;
        padding-left: 3vw;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .graph {
        margin: auto;
        height: 100px;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }

    #hello {
        margin-left: 1rem;
    }

    .planet-box {
        display: flex;
        flex-direction: row;
        width: 51vw;
        padding-left: 3vw;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .checker {
        display: flex;
        flex-direction: 30vw;
    }

    .checker-box {
        display: flex;
        flex-direction: row;
        width: 50vw;
        padding-left: 1.5vw;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .viz {
        width: 17vw;
        padding-bottom: 3rem;
        padding-top: 2rem;
        align-self: center;
        animation: MoveUpDown 1.5s linear infinite;
    }

    @keyframes MoveUpDown {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    .viz-box {
        display: flex;
        flex-direction: column;
        width: 40vw;
    }

    .stat-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10vw;
        color: white;
        background-color: rgb(26, 131, 163);
        padding: 5vh;
        border-radius: 0 2rem 2rem 2rem;
    }

    .metric-box {
        display: flex;
        flex-direction: column;
        width: 32vw;
        height: 69.4vh;
        color: white;
        background-color: rgb(26, 131, 163);
        padding: 7vh 7vh 3vh 7vh;
        border-radius: 0 2rem 2rem 0;
    }

    .metric-box-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .metric-box-header-titleblock h3,
    .metric-box-header-titleblock p {
        padding: 0 0 0 2vw;
    }

    .metric-box-header-titleblock h3 {
        font-size: larger;
    }

    .metric-icon {
        height: 8vh;
        width: auto;
    }

    .metric-bar-outside {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 2vh;
        width: 20vw;
        background-color: white;
        border-radius: 0.4rem;
        margin: 1vh 0 2vh 0;
    }

    .metric-bar-inside-bad {
        height: 2vh;
        background-color: #ff6469;
        border-radius: 0.4rem 0 0 0.4rem;
    }

    .metric-bar-inside-med {
        height: 2vh;
        background-color: #ffc18a;
        border-radius: 0.4rem 0 0 0.4rem;
    }

    .metric-bar-inside-good {
        height: 2vh;
        background-color: #70beaa;
        border-radius: 0.4rem 0 0 0.4rem;
    }

    .product-box {
        display: flex;
        flex-direction: row;
        width: 40vw;
    }

    .product-img-large {
        width: 15vw;
        border-radius: 1.5rem;
    }

    .product-img-small {
        width: 8vw;
        border-radius: 0.7rem;
    }

    .product-description {
        font-family: Nunito;
        width: 15vw;
        margin-top: 3vh;
        font-size: small;
    }

    .product-price-large {
        color: rgb(160, 160, 160);
        padding: 0.5rem 0 1.5rem 0;
    }

    .product-price-small {
        color: rgb(160, 160, 160);
        padding: 0.1rem 0 0.7rem 0;
        font-size: x-small;
    }

    .stat {
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0.1rem;
        font-family: Nunito, sans-serif;
    }

    .alternatives-box {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        padding: 0 1vw 1vw 3vw;
        background-color: white;
        border-radius: 2rem;
        width: 32vw;
        height: 77.5vh;
    }

    .alternatives-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 24vw;
        overflow: scroll;
        padding: 0;
    }

    .alternatives-gallery::-webkit-scrollbar {
        width: 0.5rem;
    }

    .alternatives-gallery::-webkit-scrollbar-track {
        background-color: #fefefe;
    }

    .alternatives-gallery::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 5px;
        visibility: hidden;
    }

    .alternatives-gallery:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    .alternatives-card {
        margin-top: 2rem;
        margin-right: 1.5vw;
        width: 8vw;
        height: fit-content;
        padding: 2vh;
        background-color: white;
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .desc {
        font-size: xx-small;
    }

    main {
        margin-left: 8vw;
    }

    .navbar {
        border-radius: 0 2rem 0 0;
        top: 0;
        width: 4rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 14rem;
    }

    .navbar:hover .link-text {
        display: inline;
        color: grey;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    .transaction-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 26vw;
        height: 95vh;
        background-color: white;
        border-radius: 2rem 2rem 2rem 2rem;
        padding: 0rem 2vw 5vh 3vw;
        margin-right: 2rem;
    }

    .transaction-scrollable {
        margin-top: 1rem;
        height: 83vh;
        overflow: auto;
    }

    .transaction-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 100%;
    }

    .transaction-scrollable::-webkit-scrollbar {
        width: 0.5rem;
    }

    .transaction-scrollable::-webkit-scrollbar-track {
        background-color: #fefefe;
    }

    .transaction-scrollable::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 5px;
        visibility: hidden;
    }

    .transaction-scrollable:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    .transaction {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        text-decoration: none;
        margin-top: 2rem;
        width: 100%;
    }
    .transaction-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .transaction-icon {
        max-width: 4rem;
        margin: 1rem 1rem 1rem 0;
    }

    .transaction-text {
        display: inline;
        line-height: 1.6;
        color: #252e48;
    }

    .transaction-text-numbers {
        color: rgb(160, 160, 160);
    }

    .transaction-divider {
        font-size: large;
        padding-top: 5vh;
    }

    .underline {
        text-decoration: underline;
    }

    .transaction-score-text-happy {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: #70beaa;
        margin-left: auto;
    }

    .transaction-score-text-medium {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: #eaae78;
        margin-left: auto;
    }

    .transaction-score-text-sad {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: #ff6469;
        margin-left: auto;
    }

    .transaction-score-icon {
        height: 2rem;
        margin: 1rem;
    }

    .profile {
        display: flex;
        flex-direction: row;
        width: fit-content;
    }

    .profile-box {
        display: flex;
        height: 50vh;
        width: 56vw;
        flex-direction: row;
        margin: 10vh 0 5vh 0;
        background-color: white;
        border-radius: 2rem;
        margin-top: 10vh;
    }

    .profile-pic {
        height: 50vh;
        border-radius: 2rem 0 2rem 2rem;
    }

    .profile-text-space {
        padding: 1.5rem 1.5rem 1.5rem 3rem;
    }

    .profile-text-space h1 {
        font-size: 2rem;
        font-family: "Nunito", sans-serif;
        font-weight: bold;
    }

    .profile-text-space h4 {
        font-weight: bold;
        font-family: "Nunito", sans-serif;
        padding: 0;
    }

    .profile-goals {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .goal-card {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 12vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        padding: 2vh;
        background-color: white;
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .goal-icon {
        width: 4vw;
    }

    .goal-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5vw;
        padding: 0 1vw 1vw 3vw;
        background-color: white;
        border-radius: 2rem;
        width: 16vw;
        height: 93.5vh;
        margin: 10vh 0 5vh 5vw;
    }

    .badge-gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 16vw;
        overflow: scroll;
    }

    .badge-gallery::-webkit-scrollbar {
        width: 0.5rem;
    }

    .badge-gallery::-webkit-scrollbar-track {
        background-color: #fefefe;
    }

    .badge-gallery::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 5px;
        visibility: hidden;
    }

    .badge-gallery:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    .bank-card-box {
        display: flex;
        height: 40vh;
        width: 52vw;
        flex-direction: column;
        background-color: white;
        border-radius: 2rem;
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding: 0 1vw 0 3vw;
    }

    .bank-card {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 14.8vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        padding: 2vh;
        color: rgb(112, 112, 112);
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .profile-cards {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .add-bank-card {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 5vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        padding: 1vh 0vh 1vh 0vh ;
        color: rgb(185, 185, 185);
        border-radius: 0.7rem;
        box-shadow: 2px 1px 5px rgb(233, 233, 233);
    }

    .add-bank-card h1{
        padding: 0;
    }

    .card-icon {
        width: 4vw;
        align-self: flex-end;
    }

    .back-button {
        margin: 5vh 0 0 0;
        height: 3rem;
        width: 3rem;
        padding: 0;
        background-color: white;
        border: none;
    }

    .back-button:hover .svg-icon path {
        fill: black;
    }
}
